@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background: rgb(223, 223, 223);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* This styles the navigation menu for mobile version */
header {
  position: fixed;
  width: 100%;
  z-index: 5;
}

.links-bar {
  display: none;
}

#nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: fixed;
  width: 100%;
  background: transparent;
}

#nav-menu .logo {
  display: none;
}

#nav-menu .list-menu {
  display: none;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  background: #fff;
  position: fixed;
  padding: 80px 30px;
}

#nav-menu .list-menu .menu-item a {
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  color: #272a31;
  transition: all 0.3s ease-in-out;
}

#nav-menu .list-menu .join-btn a {
  display: none;
}

#nav-menu .list-menu .menu-item a:hover {
  cursor: pointer;
  color: #ec5242;
}

#nav-menu .list-menu .button-close {
  position: absolute;
  display: block;
  top: 40px;
  right: 40px;
  background: none;
  border: none;
  font-size: 30px;
  font-weight: 900;
  color: #272a31;
}

#nav-menu .menu-btn {
  border: none;
  background: #ffffff75;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 8%;
  box-shadow: 0 4px 2px -2px rgba(77, 77, 77, 0.295);
}

#nav-menu .menu-btn i {
  font-size: 30px;
  color: #272a31;
}

/* This styles the headline section */
.headline-section {
  position: relative;
  isolation: isolate;
  min-height: 20vh;
  padding: 150px 20px;
}

.headline-section::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  overflow: hidden;
  background-color: pink;
  opacity: 0.2;
  background-image: url("Assets/img/bg-text.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.headline-section #hello-text {
  color: #ec5242;
  font-size: 22px;
  font-weight: 500;
  line-height: 32px;
}

.headline-section .h1-text {
  color: #ec5242;
  font-size: 40px;
  font-weight: 900;
  line-height: 52px;
  margin: 15px 0;
}

.headline-section .headline-p {
  color: #272a31;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  margin: 15px 0 25px;
  background-color: #ccccccc4;
  padding: 10px;
  border: 2px solid #fff;
}

.headline-section .headline-date {
  color: #272a31;
  font-size: 24px;
  font-weight: 800;
  line-height: 28px;
}

.headline-section .h-address {
  color: #272a31;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}

@media screen and (min-width: 768px) {
  /* This styles the nav menu for desktop version */
  .links-bar {
    display: block;
    background: #272a31;
  }

  .links-bar ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    padding: 10px 100px;
    list-style: none;
  }

  .links-bar ul li a {
    color: #d3d3d3;
    font-size: 12px;
  }

  #nav-menu {
    padding: 20px 120px;
    background: #fff;
    box-shadow: 0 4px 2px -2px rgba(77, 77, 77, 0.295);

    /* position: sticky; */
  }

  #nav-menu .logo {
    display: block;
  }

  #nav-menu .logo #logo {
    font-size: 32px;
    line-height: 44px;
    font-weight: 900;
    color: #272a31;
  }

  #nav-menu .logo #logo #logoSpan {
    font-weight: 700;
    color: #ec5242;
  }

  #nav-menu .list-menu {
    display: flex;
    align-items: center;
    position: static;
    gap: 20px;
    padding: 10px 0;

    /* margin-right: 180px; */
  }

  #nav-menu .list-menu .menu-item a {
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
    color: #272a31;
  }

  #nav-menu .list-menu .join-btn a {
    display: block;
    border: 2px solid #ec5242;
    color: red;
    padding: 0 15px;
  }

  #nav-menu .list-menu .button-close {
    display: none;
  }

  #nav-menu .menu-btn {
    display: none;
  }

  /* This styles the headline section in the desktop vesion */
  .headline-section {
    top: 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 60px 120px;
  }

  .headline-section #hello-text {
    font-size: 28px;
    font-weight: 600;
    line-height: 44px;
  }

  .headline-section .h1-text {
    background-image: url('Assets/img/bg-text.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 0 1px 0 #ec53424c;
    font-size: 60px;
    font-weight: 900;
    line-height: 72px;
    letter-spacing: 2px;
    width: 60%;
    margin: 15px 0;
  }

  .headline-section .headline-p {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }

  .headline-section .headline-date {
    color: #272a31;
    font-size: 28px;
    font-weight: 800;
    line-height: 32px;
  }

  .headline-section .h-address {
    font-weight: 400;
  }
}
